{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/prov.css">
<link rel="stylesheet" href="/static/css/stylee.css">
{% endblock %}

{% block content %}

<header class="barra-superior">
    <div class="boton">
        <button id="btn-menu" class="btn-menu" aria-label="Abrir menu"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="marca">
        <h1>Game Store</h1>
    </div>

    <section class="iconos">
        <button class="btn-menu-user" id="btn-menu-user">
            <i class="fa-solid fa-circle-user"></i>
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="menu-user" id="menu-user">
            <div class="contenido-menu-user">
                <div class="loading">
                    <i class="fa-solid fa-spinner fa-spin"></i> Cargando...
                </div>
            </div>
        </div>
    </section>
</header>

<div class="contenedor-principal">

    <nav class="barra-lateral">
        <div class="contenedor-logo">
            <a href="/"><img class="logo" src="/static/img/Icon_GS.png" alt="Logo"></a>
        </div>

        <ul>
            <li><a class="barra-lateral-link" href="/dashboard"><i class="fa-solid fa-house"></i> Inicio </a></li>
            <li><a class="barra-lateral-link" href="/admin/gestion-pedidos"><i class="fa-solid fa-truck"></i> Gestión de pedidos</a></li>
            <li><a class="barra-lateral-link" href="/admin/gestion-productos"><i class="fa-solid fa-boxes-packing"></i> Gestión de productos</a></li>
            <li><a class="barra-lateral-link" href="/admin/gestion-usuarios"><i class="fa-solid fa-users"></i> Gestión de usuarios</a></li>
            <li><a class="barra-lateral-link" href="/admin/mensajes"><i class="fa-regular fa-envelope"></i>Mensajes</a></li>
            
        </ul>
    </nav>

    <main class="principal">
        <div class="contenido">
            <h1>Dashboard</h1>

            <!-- Las estadísticas se insertarán aquí dinámicamente -->
            
            <!-- Gráfica de productos más vendidos -->
            <div id="grafica-productos">
                <div class="loading-container">
                    <i class="fa-solid fa-spinner fa-spin"></i> Cargando gráfica...
                </div>
            </div>

        </div>
    </main>

</div>

<div id="fondo"></div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/user-menu.js"></script>
<script src="/static/js/barra-lateral.js"></script>
<script src="/static/js/dashboard.js"></script>

{% endblock %}