<!DOCTYPE html>
<html lang="es">

<head>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KRN3TK3K');</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GameStore{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="/static/css/stylee.css">
    <link rel="stylesheet" href="/static/css/chatbot.css">
    <link rel="stylesheet" href="/static/css/accesibilidad.css">
    <link rel="icon" type="image/x-icon" href="/static/img/Icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone-min.js"></script>
    <script src="/static/js/revisar-sesion.js"></script>
    <script src="/static/js/accesibilidad.js"></script>
</head>

<body>
    <a href="#main-content" class="accesibility-skip-link" id="accesibility-skip-link-main">
        Saltar al contenido principal
    </a>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRN3TK3K" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <button class="btn-chatbot" id="btn-chatbot"><i class="fa-solid fa-robot"></i></button>
    <div id="ventana-chatbot" class="ventana-oculto-chatbot">
        <div class="cabecera-chatbot">
            <p>Chatbot</p>
            <button class="btn-cerrar-chatbot" id="btn-cerrar-chatbot"><i class="fa-solid fa-circle-xmark"></i></button>
        </div>
        <div class="chatbot">
            <div class="mensajes-chatbot" id="mensajes-chatbot">

            </div>
            <div class="input-chatbot">
                <input type="text" id="mensaje-input-chatbot" placeholder="Escribe tu mensaje...">
                <button id="btn-enviar-mensaje-chatbot"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</body>

</html>