{% extends "base.html" %}



{% block content %}

    <div class="container">
        <div class="pago-cancelado">
            <div class="icono-cancelado">
                <i class="fa-solid fa-times-circle"></i>
            </div>
            <h2>Pago Cancelado</h2>
            <p>El proceso de pago ha sido cancelado. Tu carrito sigue intacto.</p>
            <p class="info-adicional">Puedes volver a intentar el pago cuando lo desees.</p>
            <div class="acciones">
                <a href="/carrito" class="btn-volver-carrito">
                    <i class="fa-solid fa-arrow-left"></i> Volver al carrito
                </a>
                <a href="/" class="btn-seguir-comprando">
                    <i class="fa-solid fa-shopping-cart"></i> Seguir comprando
                </a>
            </div>
        </div>
    </div>

{% endblock %}
    